{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {{ include('AppBundle:Admin:menu.block.html.twig') }}
    <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-treeview.css') }}" />
    <script src="{{ asset('bundles/app/js/bootstrap-treeview.js') }}"></script>
    <div class="row-fluid" style="display: inline-block; margin-left: 10px;">
        <div class="span6">
            <a target="_blank" href="/admin/app/category/create" class="btn btn-info">Добавить новую категорию</a>
        </div>
    </div>
    <br />
    <br />
    {% import "AppBundle:Admin:category-macros.html.twig" as macros %}
    <div id="tree" class="categoriesTree"></div>
    <script>
        function getTree() {
          data = [
              {{ macros.category_links(categoryTreeArray) }}
          ];
          return data;
        }
        $('#tree').treeview({
            levels: 1,
            enableLinks: true,
            data: getTree()
        });
    </script>
    <style>
        .content-wrapper {
            font-size: 12px !important;
            line-height: 12px;
            vertical-align: middle;
        }
        .list-group-item {
            padding: 5px 10px;
        }
    </style>
{% endblock %}