{% extends base_template %}

{% block title %}{{ 'title_dashboard'|trans({}, 'SonataAdminBundle') }}{% endblock%}
{% block breadcrumb %}{% endblock %}
{% block content %}
    {{ include('AppBundle:Admin:menu.block.html.twig') }}
    <div class="row-fluid" style="display: inline-block;">
        <div class="span6">
            <a href="/admin/app/externalcategory/{{ externalCategory.id }}/edit" class="btn btn-warning">Редактировать эту категорию</a>
        </div>
    </div>
    <br />
    <br />
    <p style="text-align: center;">Общее количество: {{ productsCount }} шт.</p>
    <link rel="stylesheet" href="/bundles/app/css/main.css">
    {% if externalCategoryProducts is not empty %}
        <div>
            {{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': null, 'products': externalCategoryProducts }) }}
        </div>
    {% endif %}
{% endblock %}