<meta charset="UTF-8" />
<meta itemprop = "name" content = "raiment-shop.ru">
<meta itemprop = "image" content = "http://raiment-shop.ru/bundles/app/images/kins_logo_75.png">

<meta name="twitter:site" content="raiment-shop.ru"/>
<meta name="twitter:title" content="{{ metaTags.metaTitle }}">
<meta name="twitter:description" content="{{ metaTags.metaDescription }}"/>
<meta name="twitter:image:src" content="http://raiment-shop.ru/bundles/app/images/kins_logo_75.png"/>
<meta name="twitter:domain" content="raiment-shop.ru"/>

<meta property="og:site_name" content="raiment-shop.ru"/>
<meta property="og:url" content="http://raiment-shop.ru"/>
<meta property="og:title" content="{{ metaTags.metaTitle }}"/>
<meta property="og:description" content="{{ metaTags.metaDescription }}"/>
<meta property="og:image" content="http://raiment-shop.ru/bundles/app/images/kins_logo_75.png"/>

<link rel="image_src" href="/bundles/app/images/kins_logo_75.png"/>
<meta name = "title" content = "{{ metaTags.metaTitle }}">
<meta name = "description" content = "{{ metaTags.metaDescription }}">
<meta name = "keywords" content = "{{ metaTags.metaKeywords }}">
<meta name = "robots" content = "{{ metaTags.metaRobots }}">
<meta name='yandex-verification' content='67d80cb6e8abeac3' />
<title>{% block title %}{{ metaTags.metaTitle }}{% endblock %}</title>