{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="shopBlock">
		<h1 class="shopTitle">Товары магазина {{ site.title|raw }}:</h1>
		{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': products }) }}
	</div>
	<hr/>
	<div class="vendorBlock">
		<h1>Бренды магазина:</h1>
		<ul class="vendorBlockUl">
			{% for vendor in vendors %}
				{% if vendor is not null %}
					<li>
						<a href="/filter/vendor+{{ vendor.alias }}">{{ vendor.name }}</a>
						<p>({{ vendor.cnt }} шт.)</p>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
{% endblock %}