{% extends 'AppBundle:Default:layout.html.twig' %}

{% block content %}
	<div class="shopBlock">
		<h1 class="shopTitle">Товары магазина {{ site.title|raw }}:</h1>
		{{ include('AppBundle:Default:products.block.html.twig', { 'paginatorData': paginatorData, 'products': products }) }}
	</div>
	<hr/>
	<div class="vendorBlock">
		<h1>Бренды магазина:</h1>
		<ul class="vendorBlockUl">
			{% for vendor in vendors %}
				<li>
					<a href="/vendor/{{ vendor.0.alias }}">{{ vendor.0.name }}</a>
					<p>({{ vendor.0.products|length }} шт.)</p>
				</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}